.jumbotron-bg{
    background-image: url("https://images.unsplash.com/photo-1420745981456-b95fe23f5753?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c7992ffcac63dd7c07a156c12c4e9318") !important;
}
.panel{
    padding: 0px !important;
}
#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}